<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">10분만에 봇 개발하기!</h2>
                <hr class="light">
                <p class="text-faded">누구나 쉽게 봇을 개발하고 등록할 수 있습니다. 복잡한 알고리즘도 필요 없습니다. 지금 당장 코딩을 시작해 보세요.</p>
                <div class="resp-container">
                        <iframe class="resp-iframe" src="https://www.youtube.com/embed/WoVqQ6N9kgM" frameborder="0" gesture="media" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</section>
